body{
    margin-left: 5%;
    margin-right: 5%;
}


/*<!--Doing this to update github-->*/
div.heading{
    font-size: xx-large;
    font-family: Tahoma, sans-serif;
    background-color: rgba(144, 238, 144, 0.801);
    color: rgba(0, 0, 0, 0.945);
    position: absolute;
    top: 80px;
    left: 425px;
}
div.flexible{
    display: flex;
}

div.nav{
    border: darkgreen;
    background-color: rgba(144, 238, 144, 0.644);
    border-style: ridge;
    justify-content: space-evenly;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: larger;
    color: black;
    font-family: tahoma, sans-serif;
    
}
a{
    text-decoration: none;
    color: black;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
}
header{
    
    padding: 7.5%;
    background-image: url("images/grasstemplate.jpg");
    
    /*https://search.creativecommons.org/photos/c9e779c8-1861-4c94-bae7-ea13d492ef9d
        This is the url to the creative commons picture used here
    */
}

h2.introH{
    text-align: center;
    font-size: x-large;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
    font-style: oblique;
    text-decoration: underline;
}

img#founder{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    display: block;

}
h3.date{
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    font-family: Tahoma, sans-serif;
    font-weight: 900;
}

p.introP{
    font-size: larger;
    font-weight: 500;
    font-family: Tahoma, sans-serif;
    margin-bottom: 5%;
    line-height: 2em;
}

footer{
    background-color: lightgreen;
    padding-top: 5%;
   
}
a.linkli{
    color: blue;
    text-decoration: underline;
}

li
{
    font-size: larger;
    line-height: 2em;
    font-family: Tahoma,sans-serif;
    font-weight: 500;
}

div.equipment{
    border: groove;
    height: 200px;

}
img#ridingmower{
    float: left;
    padding:1%;
    width: 200px;
}

img#pushmower{
    float: left;
    padding:1%;
    width: 200px;
}

img#weedeater{
    float: left;
    padding:1%;
    width: 200px;
}
img#pushweedeater{
    float: left;
    padding:1%;
    width: 200px;
}
a.normal{
    text-decoration: underline;
    color: blue;
}


@media  (max-width: 600px)

{
    body{
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 100%;
        

        
    }

   
    div.flexible{

        flex-direction: column;
    }
    div.nav{
        padding-left: 1%;
        padding-right: 1%;
        font-size: 50em;
        text-align: center;
        
    
    }
    section{
        margin-top: 0%;
    margin-left: 0;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    
    } 
    footer{
        padding-left: 0%;
    padding-right: 0%;
    }

    div.heading{
        position: absolute;
        top: 30px;
        left: 25px;
        font-size: xx-large;

    }
    div.equipment{
        border: groove;
        height: 1200px;
        font-size: 5em;
    
    }
    img#ridingmower{
        float: none;
        padding:1%;
        width: 700px;
    }
    
    img#pushmower{
        float: none;
        padding:1%;
        width: 700px;
    }
    
    img#weedeater{
        float: none;
        padding:1%;
        width: 700px;
    }
    img#pushweedeater{
        float: none;
        padding:1%;
        width: 700px;}

    footer{
        font-size: 3.5em;
    }
    iframe#calender{
        width:1400;
        height: 1000;
    }
    button#thebutton{
        width: 20%;
        height:20%;
        font-size: xx-large;
    }
    input#myinput{
        width: 20%;
        height:20%;
    }
    
}
@media all and (orientation:portrait){
    body{
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 100%;
        

        
    }

   
    div.flexible{

        flex-direction: column;
    }
    div.nav{
        padding-left: 1%;
        padding-right: 1%;
        font-size: xx-large;
        text-align: center;
        
    
    }

    section{
        margin-top: 0%;
    margin-left: 0;
    margin-right: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    
    } 
    footer{
        padding-left: 0%;
    padding-right: 0%;
    }

    div.heading{
        position: absolute;
        top: 30px;
        left: 25px;
        font-size: 3.5em;


    }
    div.equipment{
        border: groove;
        height: 1200px;
        font-size: 5em;
    
    }
    img#ridingmower{
        float: none;
        padding:1%;
        width: 700px;
    }
    
    img#pushmower{
        float: none;
        padding:1%;
        width: 700px;
    }
    
    img#weedeater{
        float: none;
        padding:1%;
        width: 700px;
    }
    img#pushweedeater{
        float: none;
        padding:1%;
        width: 700px;}

    footer{
        font-size: 3.5em;
    }
    iframe#calender{
        width:1400;
        height: 1000;
    }
    button#thebutton{
        width: 20%;
        height:20%;
        font-size: xx-large;
    }
    input#myinput{
        width: 20%;
        height:20%;
    }
}


