body{
    margin-left: 5%;
    margin-right: 5%;
}

div.flexible{
    display: flex;
}

div.nav{
    border: darkgreen;
    background-color: rgba(144, 238, 144, 0.644);
    border-style: ridge;
    justify-content: space-evenly;
    margin-left: 10;
    margin-right: 10;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: larger;
    color: black;
    font-family: tahoma, sans-serif;
    
}
a{
    text-decoration: none;
    color: black;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
}
header{
    background-color: lightgreen;
    padding: 10%;
    background-image: url("images/grasstemplate.jpg");
    
    /*https://search.creativecommons.org/photos/c9e779c8-1861-4c94-bae7-ea13d492ef9d
        This is the url to the creative commons picture used here
    */
}

h2.introH{
    text-align: center;
    font-size: x-large;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
    font-style: oblique;
    text-decoration: underline;
}

img#founder{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    display: block;

}
h3.date{
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    font-family: Tahoma, sans-serif;
    font-weight: 900;
}

p.introP{
    font-size: larger;
    font-weight: 500;
    font-family: Tahoma, sans-serif;
    margin-bottom: 5%;
}

footer{
    background-color: lightgreen;
    padding-top: 5%;
}